<!DOCTYPE html>
<html>
  <head>
    <title>Object Detection</title>
    <style>
      /* Add some basic styling to make the images display side by side */
      .image-container {
        display: flex;
        flex-direction: row;
      }
      .image {
        width: 50%; /* Make each image take up 50% of the container width */
        height: 480px; /* Set the height of each image */
        margin: 10px; /* Add some margin between the images */
      }
    </style>
  </head>
  <body>
    <h1>NGSpurs Object Detection</h1>
    <div class="image-container">
      <img src="{{ url_for('video') }}" class="image">
      <img src="{{ url_for('video_detect') }}" class="image">
    </div>
  </body>
</html>